/*
** Variables
*/
$zero:                  0;
$none:                  none;
$full-width:            100vw;
$full-height:           100vh;

/*
** Layout Sizes
*/
$size-base:             100px;
$gap-base:              $size-base;
$height-base:           $size-base;

/*
** Layout positions
*/
$right:                 right;
$left:                  left;
$center:                center;

/*
** Font Sizes
*/
$font-size-xs:          8px;
$font-size-sm:          11px;
$font-size-md:          16px;
$font-size-xm:          22px;
$font-size-lg:          28px;
$font-size-xl:          36px;

/*
** Colors
*/
$transparent:           transparent;
$white:                 #FFF;
$black:                 #000;
$color-1:               #363636;
$color-2:               #DEDCD6;
$color-3:               #858585;
$color-4:               #7f7f7f;
$color-5:               #627f9d;



