@font-face {
  font-family: 'LatoHairline';
  src: url('./../fonts/Lato-Hairline.ttf')  format('truetype');
}

@font-face {
  font-family: 'LatoLight';
  src: url('./../fonts/Lato-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'LatoRegular';
  src: url('./../fonts/Lato-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'LatoBold';
  src: url('./../fonts/Lato-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'LatoBlack';
  src: url('./../fonts/Lato-Black.ttf')  format('truetype');
}
